body {
  margin: 0;
}
.___lp-json-view-App {
}

.___lp-json-view-App-view {
  padding: 20px;
}

.___lp-json-view-App-err {
  display: flex;
  align-items: center;
  font-size: 14px;
  white-space: nowrap;
}
.___lp-json-view-App-err > img {
  width: 20px;
  margin-right: 5px;
}

.___lp-json-view-App .react-json-view {
  font-size: 14px;
}

.___lp-json-view-App-parse-box {
  width: 100%;
  overflow: hidden;
  display: flex;
  height: calc(100vh - 40px);
}

.___lp-json-view-App-parse-box > div {
  width: 0;
  flex-grow: 1;
}

.___lp-json-view-App-parse-box > div:first-child {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px dashed;
}

.___lp-json-view-App-parse-box > div:nth-child(2) {
  flex-grow: 2;
  margin-right: -20px;
  height: 100%;
  overflow-y: auto;
}

.___lp-json-view-App-parse-box-textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

.___lp-json-view-App-view-parse {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.5s;
}

.___lp-json-view-App-view-parse:hover {
  opacity: 1;
}

.___lp-json-view-App-switch {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  border: 1px solid #000;
  font-size: 14px;
  background-color: #fff;
  user-select: none;
  z-index: 999;
}

.___lp-json-view-App-switch > div {
  margin: 5px;
  cursor: pointer;
  padding: 3px;
}

.___lp-json-view-App-switch-active {
  background-color: #333;
  color: #fff;
}

.___lp-json-view-App-status {
  font-size: 14px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.___lp-json-view-App-status select {
  padding: 3px;
  font-size: 14px;
  outline: none;
}
